.login-left {
  position: relative;
  height: 100vh;
}

.login-left h1 {
  font-size: 34px;
  color: #0096c7;
  text-transform: uppercase;
}

.login-left h1 span {
  font-size: 38px;
}

.login-left p {
  color: #fff;
}

.back-icon {
  position: absolute;
  left: 50%;
  bottom: 30px;
}

.back-icon i {
  cursor: pointer;
  color: #fff;
  font-size: 32px;
}

.login-right {
  position: relative;
  background-color: #c0cdd3;
  height: 100vh;
}

.login-right p {
  color: #928b8b;
}

.login-form {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 450px;
  padding: 25px 20px;
  background-color: #fff;
}

.login-form input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  margin: 8px 0;
  padding: 8px 5px;
  border-radius: 4px;
  border: 1px solid #8c8383;
}

.login-form input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
  outline: none;
}

.login-form input[type="button"] {
  background-color: #0096c7;
  color: #fff;
  width: 100%;
  margin: 8px 0;
  border: #0096c7;
  border-radius: 4px;
  padding: 8px 0;
}

.login-input {
  position: relative;
}

.login-input span i {
  position: absolute;
  right: 10px;
  bottom: 75px;
  cursor: pointer;
}
