body {
  height: 100vh;
  background: linear-gradient(
    31deg,
    rgba(0, 4, 37, 1) 0%,
    rgba(0, 7, 58, 1) 72%,
    rgba(0, 9, 74, 1) 100%
  );
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
